.idea/*
.settings/*
.project
.classpath
**/.idea
**/.settings/
**/.project
**/.classpath
**/target/
**/logs/
**/catalina.base_IS_UNDEFINED/

*.iml
target/*
*.ipr
*.jar
*.MF

*/.DS_Store
.DS_Store

gradlew
gradlew.bat
*.iws
out

# Eclipse Project files
gen/
local.properties
Thumbs.db

*.bak
*.tem
*.temp
#.swp
*.*~
~*.*
